Masterul defineste doua matrici A si B de dimensiuni 3x3, si vrea sa calculeze matricea produs C = A x B. Pentru aceasta creeeaza 9 procese slave, le aranjeaza intr-o matrice a proceselor P[3][3], si trimite la fiecare slave P[i][j] elementele de pe linia i a matricei A si de pe coloana j a matricei B. Fiecare proces slave calculeaza elementul c(i,j) din matricea rezultat, pe care il trimite masterului. Masterul construieste matricea rezultat C = A x B din valorile trimise de slave-uri si o afiseaza pe ecran (pe linii si coloane). 
