.checkbox-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  cursor: pointer;
  user-select: none;
  margin-bottom: $margin-big;

  .text {
    margin-left: $margin-small;
    color: $color-text-light;
  }

  &:active {
    .checkbox-button {
      box-shadow: inset 0 0 0 5px #c6cfda;
      border-radius: 100%;
      background-color: white;

      &:before {
        border-radius: 100%;
      }
    }

    .checkbox-button {
      &:before {
        transform: scale(0.8)
      }
    }
  }

  &:focus {
    .text {
      color: $color-blue-green;
    }
  }
}

.checkbox-container {
  &:active {
    .checkbox-button {
      box-shadow: inset 0 0 0 5px #c6cfda;
      border-radius: 100%;
      background-color: white;

      &:before {
        border-radius: 100%;
        transform: scale(0);
      }

      &.checked {
        box-shadow: inset 0 0 0 3px #c6cfda;

        &:before {
          transform: scale(0.7);
        }

        &:after {
          transform: scale(0.8);
        }
      }
    }
  }
}

// Buttons
.checkbox-button {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: inset 0 0 0 1px #c6cfda;
}

.checkbox-button {
  transition: box-shadow 0.15s $ease-in-out, border-radius 0.15s $ease-in-out;

  // blue box
  &:before {
    position: absolute;
    display: block;
    content: " ";
    border-radius: 4px;
    background-color: $color-blue-green;
    width: 20px;
    height: 20px;
    transition: transform 0.2s $ease-in-out, border-radius 0.15s $ease-in-out;
    transform: scale(0);
    transform-origin: 50% 50%;
  }

  &.darker {
    &:before {
      background-color: #0C303C;

    }
  }

  // check icon
  &:after {
    position: absolute;
    display: block;
    content: " ";
    border-radius: 100%;
    background-color: white;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/svg/check.svg");
    transform: scale(0);
    transition: transform 0.2s $ease-in-out, background-color 0.15s;
  }

  &.checked {
    &:before {
      transform: none;
    }

    &:after {
      transform: none;
      background-color: transparent;
    }
  }
}
