@import 'base';

input:not([type="submit"]), textarea {
  font-size: $font-size-normal;
  font-weight: $font-weight-medium;
  background-color: white;
  border-radius: $border-radius-tiny;
  border: solid 1px $color-cloudy-blue;
  color: $color-text-normal;
  box-shadow: 0 0 4px rgba(black, 0.03);
  padding: 0 $margin-tiny;
  transition: box-shadow 0.1s, background-color 0.05s, background-image 0.1s, border-radius 0.1s, filter 0.05s;

  &::placeholder {
    color: #aaa;
  }

  &:hover {
    filter: drop-shadow(0 0 4px rgba(black, 0.07));
  }

  &.error {
    box-shadow: 0 0 1px rgba(black, 0.1), inset 0 0 0 1px lighten($color-watermelon, 3%);
  }

  &:focus {
    box-shadow: 0 0 3px rgba(black, 0.1), inset 0 0 0 1.5px lighten($color-blue-green, 10%);
    outline: none;
  }

  &.error-input {
    box-shadow: 0 0 3px rgba($color-watermelon, 0.1), inset 0 0 0 1px lighten($color-watermelon, 3%);
  }

  &.big-input {
    height: 50px;
  }

}

input:not([type="submit"]) {
  height: 40px;

  &.with-icon {
    background-size: 16px;
    background-position: calc(100% - #{$margin-tiny}) 50%;
    padding-right: calc(16px + #{$margin-tiny} * 2);
    background-repeat: no-repeat;
  }
}
// END With error

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}