.rounded-card-login {
  height: 454px;
  width: 400px;
  background-color: white;
  padding: 120px 40px 38px 40px;
  border-radius: $border-radius-big;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: url("../images/augmented-reality.png");
  background-size: 212px 69px;
  background-position: 36px 35px;
  background-repeat: no-repeat;
}

.rounded-card-signup {
  width: 100%;
  max-width: 500px;
  height: unset;
}

.rounded-card-reset-password {
  width: 100%;
  max-width: 400px;
  height: unset;
}

.rounded-card {
  background-color: white;
  border-radius: $border-radius-tiny;
  margin: auto;
}
