  @import "../../styles/base";

.page-login {
  .form-title {
    font-size: $font-size-big;
    font-weight: $font-weight-bolder;
    color: $color-dark-blue-grey;
    margin-bottom: $margin-xsmall;
    margin-top: 65px;
  }

  .sub-form-title {
    font-size: $font-size-normal;
    color: $color-dark-blue-grey;
    margin-bottom: $margin-default;
  }

  .input-container {
    width: 100%;
    margin-bottom: 22px;
    position: relative;

    .input-custom {
      width: 100%;
    }

    .error-message {
      color: $color-watermelon;
      position: absolute;
      bottom: -16px;
      font-size: $font-size-small;
    }

    .show-password-icon {
      position: absolute;
      height: 16px;
      width: 25px;
      background-image: url("../../images/svg/UI-Display.svg");
      top: 17px;
      right: 15px;
      cursor: pointer;
    }
  }

  .active {
    background-color: $color-blue-green;
    -webkit-mask-image: url("../../images/svg/UI-Display.svg");
    mask-image: url("../../images/svg/UI-Display.svg");
  }

  .forgot-password {
    font-size: $font-size-normal;
    margin-bottom: $margin-default;
    color: $color-blue-green;
    border-bottom: 1px solid $color-blue-green;
    font-weight: $font-weight-md-bold;
    text-decoration: none;
    cursor: pointer;
  }

  .login-button {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size-normal;
    font-weight: bold;
  }
}

  @include media-breakpoint-phone() {
    .page-login{
      .rounded-card-login{
        display: flex;
        flex-direction: column;
        background-position: 63px 29px;
        margin-left: 15px;
        margin-right: 15px;
        padding-top: 46px;
        .form-title{
          font-size: 18px;
        }
        .forgot-password{
          font-size: 13px;
        }
      }
    }
  }